<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
      <div>
       <form method="POST">
        Qual é o sabor? <input type="text" name="sabor">
        Qual é o massa? <input type="text" name="massa">
        Qual é o borda? <input type="text" name="borda">
        Qual é o valor? <input type="text" name="valor">
       <button type="submit">Ir</button> 
       <a href="/voltar"> Voltar para pagínas </a>
      </form>
  
    </div>
</body>
</html>
    