<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">	
</head>
<body>
 	<a href="/favorito"> Cadastrar sua pizza favorita </a>
	<h1>CARDAPIO</h1>
	<div th:each="pizza: ${pizzas}">
		
		<a th:href="@{/${sabor}}"> <h2 th:text="'Sabor:' + ${pizza.sabor}"></h2> </a>
		
		<p th:text="'Massa:' +${pizza.massa}"></p>
		
		<p th:text="'Borda:' +${pizza.borda}"></p>
		
		<p th:text="'Valor:' +${pizza.valor}"></p>
		
	</div>
</body>
</html>